*{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
box-sizing: border-box; 
}

.background{
    width: 100%;
    min-height: 100vh; 
    background: #0d0d0d; /* linear-gradient(to right, #095282, #6d00ff, 70%, #6d00ff 70%); */
    color: #fff;
    padding: 10px 8%;
    position: relative; 
}

.bar{
    position: absolute;
    background-color: #0d0d0d;
    z-index: 10;
    height: 100px;
    width: 100%;
    top: 0;
    box-shadow: .5px .5px 10px #f8f8ff; 
}

.bar nav{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; 
    z-index: 11; 
}

nav img{
    width: 100px;
}

nav ul{ 
    padding-left: 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 15px;
}
nav a{
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #fff;
}

nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3db489;
    transform-origin: bottom left right;
    transition: transform 0.3s ease-out;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}